<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <link href="../../public/assets/css/stylesheet.css">
        <title>Eat Da burger!</title>
    </head>
    <body>
        {{{body}}}
    </body>
    <script src="../../public/assets/js/index.js"></script>
</html>